@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
    box-sizing: border-box;
}
.model_container{
    background-color: rgba(0, 0, 0,0.3);
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: center;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.model{
    position: absolute;
width: 425px;
height: 456px;
left: 470px;
top: 180px;

background: #FFFEFE;
box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.25);
border-radius: 5px;

}
h1
{
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

input {
	background: none;
	border: none;
    border-bottom: 1px solid #d9d9d9;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
input:focus{
    outline: none;
}
button {
	border-radius: 20px;
	border: 1px solid #FFFFFF;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    align-items: center;
    justify-content: center;
    display: flex;
}

button:active {
	transform: scale(0.95);
    
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}